<div class="display">
  <div class="row justify-content-center">
    <div style="background: black">
      <div #visualizador class="bg-dark border border-white">
        <div class="p-4">
          <h1 class="text-center text-warning">The standard Lorem Ipsum passage, used since the 1500s</h1>
          <p #texto class="text-justify text-light">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
              incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
              exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </p>
        </div>
      </div>
    </div>
    <div class="controle">

    </div>
  </div>
</div>
