<div class="navbar navbar-dark bg-dark">
    <span class="navbar-brand" style="font-size: 12pt">BUSCA</span>
</div>
<div>
  <input type="text" class="form-control rounded-0" id="campo-pesquisa" placeholder="Digite a informação">
  <div style="padding: 20px">
    <div #listbox>
      <ul class="list-group list-group-flush" *ngFor="let item of listaItens; let i = index">
        <!--li *ngIf="i == 0" class="list-group-item list-group-item-action active">{{ item }} </li-->
        <li (click)="selecionarItem($event, item)" class="list-group-item list-group-item-action" [ngClass]="{'active' : select == item }">
          {{ item }}
        </li>
      </ul>
  </div>
</div>
<div class="pl-4 pb-2">
  <button class="btn btn-success" (click)="tamanhoTela()">Exibir</button>
</div>











