<div class="container-fluid">
  <div class="row no-gutters">
    <div class="col-sm-3 border border-dark">
      <app-painel-pesquisa></app-painel-pesquisa>
    </div>
    <div class="col-sm-9">
      <app-painel-visualizador></app-painel-visualizador>
      <app-painel-controle></app-painel-controle>
    </div>
  </div>
</div>

