.lista-monitores{
  border: 3px solid white;
  background-color: black;
  height: 200px;
}

.monitor-item{
  background: linear-gradient(to top,  #383737, #595959);
  width: 20%;
  height: 180px;
  border: 1px solid #b5b5b5;
  text-align: center;
}

.monitor-item span{
  font-size: 30pt;
  top: 50%;
}
