<div class="row" style="padding: 15px">
  <div class="col-2">
    <div style="padding: 50px 50px 40px;">
      <button class="btn btn-info btn-lg">Projetar</button>
      <div class="form-group">
        <select class="form-control form-control-sm">
            <option>1024x768</option>
            <option>1280x800</option>
            <option>1920x1080</option>
        </select>
      </div>
    </div>
  </div>
  <div class="col-sm-10">
    <div class="lista-monitores">
      <div style="padding: 7px 8px">
        <div class="monitor-item">
          <span>1</span>
        </div>
      </div>
    </div>
  </div>
</div>

